
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

  <!-- Importo la libreria iron-ajax para gestionar las peticiones ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Importo la libreria dom-repeat para mostrar de forma recursiva un template-->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <style>

            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
              text-align: center;
            }

            th, td {
              padding: 7px;
            }

        </style>



    <!--Codigo para recargar la pagina cada vez que entro -->

    <!--
      <script type='text/javascript'>

      (function()
      {
        if( window.localStorage )
        {
          if( !localStorage.getItem('firstLoad') )
          {
            localStorage['firstLoad'] = true;
            window.location.reload();
          }
          else
            localStorage.removeItem('firstLoad');
        }
      })();
      </script>
      -->


      <!-- Aqui esta el codigo HTML -->

    <table>
      <tr>
        <th>IBAN</th>
        <th>Balance</th>
        <th>Moneda</th>
        <th>Balance (EUR) </th>
        <th>Acción</th>
      </tr>

    <template is="dom-repeat" items="{{accounts}}">

        <tr>
          <td>{{item.iban}}</td>
          <td>{{item.balance}}</td>
          <td>{{item.currency}}</td>
          <td>{{item.balanceEUR}}</td>
          <td><button on-click="irDashboardCuenta">Operar</button></td>
        </tr>
    </table>

    </template>


    <!-- Utilizo iron-ajax para gestionar la peticion ajax "getAccount" a la API del back -->
    <iron-ajax auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/account/{{userid}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class VisorCuenta extends Polymer.Element {

      static get is() { return 'visor-cuenta'; }


/* Asi seria la clase si no utilizaramos dom-repeat

      static get properties() {
        return {
          iban:{
            type: String
          },
          userid: {
            type: Number
          },
          balance:{
            type: Number
          }
        };
      }
*/

/* Esta es la clase properties para el dom-repeat, con el account de tipo Array */

      static get properties() {
        return {
          userid:{
            type: Number
          },
          accounts:{
            type: Array
          }
        };
      }

/*
      //Funcion para mostrar los datos sin dom-repeat

      showData(data){

        console.log("Showdata");

        console.log(data.detail.response[0].iban);
        console.log(data.detail.response[0].userid);
        console.log(data.detail.response[0].balance);

       //Informo el valor de la propiedad (this.prop) con el valor de la respuesta del back (data.detail.response.prop)
        this.iban=data.detail.response[0].iban;
        this.userid=data.detail.response[0].userid;
        this.balance=data.detail.response[0].balance;
      }

    }
*/


      //Funcion para mostrar los datos con dom-repeat
      showData(data){

        //window.location.reload();

        console.log("Showdata");
        console.log(data.detail.response);

        this.accounts=data.detail.response;
      }

      //Creo una funcion para redireccionar la ventana al dashboard-cuenta del IBAN
      irDashboardCuenta(e){
        window.location = "/dashboard-cuenta/" + e.model.item.iban;
      }


    }



 /* Con esto estoy definiendo el CustomElement "visor-usuario" */
 /* El primer parametro del define es el nombre del customElement -> VisorUsuario.is ==> visor-usuario */
 /* El segundo parametro del define es la clase que define ese customElement -> VisorUsuario */
    window.customElements.define(VisorCuenta.is, VisorCuenta);

  </script>
</dom-module>
