
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

  <!-- Importo la libreria iron-ajax para gestionar las peticiones ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="creacion-cuenta">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>


      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- Aqui esta el codigo HTML -->

      <h4> Introduzca los datos necesarios para crear la cuenta</h4>

      <!-- Creamos inputs par introducir los datos de la nueva cuenta -->
      <h10>IBAN </h10><input placeholder="iban" type="iban" value="{{iban::input}}"></input>
      <br></br>
      <h10>Divisa </h10><input placeholder="currency" type="currency" value="{{currency::input}}"></input>
      <br></br>

      <!-- Creamos el button de Crear Cuenta con una funcion manejadora del createAccount-->
      <button on-click="createAccount">Crear Cuenta</button>

      <!-- Creamos el span que es una especio de linea-->
      <span hidden$="{{!createAccountOK}}">Cuenta Creada Correctamente!</span>

      <!-- Creamos el span que es una especio de linea-->
      <span hidden$="{{!createAccountFailed}}">Este IBAN ya existe, por favor introduzca un valor correcto</span>

        <!-- Utilizo iron-ajax para gestionar la peticion "createAccount" ajax a la API del back -->
        <iron-ajax
          id="doCreateAccount"
          url="http://localhost:3000/apitechu/v2/account/{{userid}}"
          handle-as="json"
          content-type="application/json"
          method="POST"
          on-response="manageAJAXCreateAccountResponse"
          on-error="showError"
        >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class CreacionCuenta extends Polymer.Element {

      static get is() { return 'creacion-cuenta'; }

      static get properties() {
        return {
          userid:{
            type: Number
          },
          iban:{
            type: String
          },
          currency:{
            type: String
          },
          createAccountOK:{
            type: Boolean,
            value: false
          },
          createAccountFailed:{
            type: Boolean,
            value: false
          }
        };
      }

      //Funcion manejadora de la respuesta de AJAX
      manageAJAXCreateAccountResponse(data){

        console.log("Llegaron los resultados a manageAJAXCreateAccountResponse");
        console.log(data.detail.response);

        //Pongo el booleano de logged a true para que se muestre el mensaje de OK en el span
        this.createAccountOK = true;

        //Marco el booleano de fallido a falso para no mostrar el mensaje de error con el span
        this.createAccountFailed = false;

        console.log("Cuenta creada correctamente");

        //Guardamos el usuario para luego redireccionar la pagination
        var usuario = this.userid;
        console.log(usuario);

        //Metemos un sleep de 10 segundos para garantizar la respuesta de la API
        setTimeout(function(){

          //Una vez creada la cuenta correctamente, redirecciono la ventana a la ruta de /dashboard-usuario/ que invoca al web-component "ip-dashboard-usuario"
          window.location = "/dashboard-usuario/" + usuario;

        }, 2000);

      }

      //Funcion manejadora del createAccount tras hacer click en el button
      createAccount(){

        console.log("El usuario ha pulsado el boton de Crear Cuenta");

        console.log("He recibido el userid " + this.userid);
        console.log("He recibido el IBAN " + this.iban);
        console.log("He recibido la divisa " + this.currency);

        //Creamos el object con los datos que le vamos a pasar al createAcccount del back
        //Ojo los nombres de las variables tienen que ser los mismos que los de la API del back
        var createAccountData = {
          "userid" : this.userid,
          "iban" : this.iban,
          "currency" : this.currency
        };

        //Le decimos que a la peticion "doCreateAccount", su body es el createAccountData pasado a JSON
        this.$.doCreateAccount.body = JSON.stringify(createAccountData);

        console.log("Voy a enviar la peticion")

        //Lanzamos la petición
        this.$.doCreateAccount.generateRequest();

        console.log("Petición enviada")

      }

      //Funcion manejadora de los errores (on-error)
      showError(error){
        console.log("Hubo un error");
        console.log(error);

        //Marco el booleano de fallido a true para mostrar el mensaje de error con el span
        this.createAccountFailed = true;

      }
    }

 /* Con esto estoy definiendo el CustomElement "creacion-cuenta" */
    window.customElements.define(CreacionCuenta.is, CreacionCuenta);

  </script>

</dom-module>
