
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

        <!-- Dentro de style está el codigo CSS-->
    <style>
      :host {
        display: block;
      }
    </style>

      <!-- Aqui esta el codigo HTML -->


    <!-- Hago la llamada a las propiedades definidas en la clase FrontproyectoApp -->
    <!-- DataBinding Oneway [[ -> hace que sustituya el valor de la propiedad dentro del codigo HTML -->
    <h2>Soy [[first_name]] [[last_name]]</h2>
    <h2>y tengo [[age]] años </h2>

    <!-- Añado un input de tipo texto -->
    <!-- DataBinding TwoWay {{ -> vinculo el valor de la propiedad y la propago en todas direcciones-->
    <!-- Se actualiza el value de "first_name" cada vez que ocurre el evento "input", es decir, que se toca el texto del input-->
    <input type="text" value="{{first_name::input}}"/>

    <!-- Añado un input de tipo range -->
    <!-- Añado el dataBinding TwoWays y le damos valor minimo 18 y maximo 70 -->
    <!-- Se actualiza el value de "age" cada vez que ocurre el evento "input", es decir, que se toca la barra del range-->
    <input type="range" value="{{age::input}}" min="18" max ="70"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          },
          last_name:{
            type: String
          },
          age:{
            type: Number
          }
        };
      }
    }

 /* Con esto esto definiendo el CustomElement "FrontproyectoApp" */
 /* El primer parametro del define es el nombre del customElement -> FrontproyectoApp.is ==> frontproyecto-app */
 /* El segundo parametro del define es la clase que define ese customElement -> FrontproyectoApp */
    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);

  </script>
</dom-module>
