
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- Importo la libreria iron-pages para seleccionar el contenido que se ve -->
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<!-- Hago un import de mi customElement "visor-usuario" -->
  <link rel="import" href="../../src/visor-usuario/visor-usuario.html">

<!-- Hago un import de mi customElement "login-usuario" -->
  <link rel="import" href="../../src/login-usuario/login-usuario.html">

  <!-- Hago un import de mi customElement "visor-cuenta" -->
    <link rel="import" href="../../src/visor-cuenta/visor-cuenta.html">

<dom-module id="test-iron-pages">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


      <!-- Aqui esta el codigo HTML -->

      <!-- Ejemplo titulo grande con clase jumbotron de bootstrap -->
      <!--
      <h1 class="jumbotron">TEST IRON PAGES</h1>
      -->

      <!-- Hacemos el selector con iron-pages -->
      <select value="{{componentName::change}}" placeholder="Seleccionar componente">
        <option value=" ">Seleccionar componente</option>
        <option value="login-usuario">Login Usuario</option>
        <option value="visor-usuario">Visor Usuario</option>
        <option value="visor-cuenta">Visor Cuenta</option>
      </select>

      <br></br>

        <!-- Le decimos que web-component mostrar en funcion de cada valor(value) de cada option del selector -->
      <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
        <div component-name="login-usuario"><login-usuario></login-usuario></div>
        <div component-name="visor-usuario"><visor-usuario id="8"></visor-usuario></div>
        <div component-name="visor-cuenta"><visor-cuenta userid="8"></visor-cuenta></div>
      </iron-pages>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class TestIronPages extends Polymer.Element {

      static get is() { return 'test-iron-pages'; }

      static get properties() {
        return {
          componentName:{
            Type:String
          }
        };
      }

    }

 /* Con esto estoy definiendo el CustomElement "test-iron-pages" */
    window.customElements.define(TestIronPages.is, TestIronPages);

  </script>

</dom-module>
