<!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

 <!-- Importo la libreria iron-ajax para gestionar las peticiones ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">

   <!-- Dentro del template está lo que se ve, HTML + CSS-->
 <template>

     <!-- Hago el import de Bootstrap para gestionar el style -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
     integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

     <!-- Aqui esta el codigo HTML -->

 <!-- Creamos 2 input's para introducir el email y password -->
  <h10>Email </h10><input placeholder="email" type="email" value="{{email::input}}"></input>
  <br></br>
  <h10>Password </h10><input placeholder="password" type="password" value="{{password::input}}"></input>
  <br></br>

 <!-- Creamos el button de login con una funcion manejadora del login-->
 <button on-click="login">Login</button>

 <!-- Creamos el span que es una especio de linea y solo la muestro si no está logeado-->
 <span hidden$="{{!isLogged}}">Bienvenido de nuevo!</span>

 <!-- Creamos el span que es una especio de linea y solo la muestro si ha fallado el logeo-->
 <span hidden$="{{!loginFailed}}">Login Fallido</span>

   <!-- Utilizo iron-ajax para gestionar la peticion "login" ajax a la API del back -->
   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/apitechu/v2/login/"
     handle-as="json"
     content-type="application/json"
     method="POST"
     on-response="manageAJAXLoginResponse"
     on-error="showError"
   >

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */

/* Declaro la clase con 2 metodos */
/* El metodo get is me dice el nombre del customElement */
/* El metodo get properties me devuelve las propiedades del customElement */
   class LoginUsuario extends Polymer.Element {

     static get is() { return 'login-usuario'; }

     static get properties() {
       return {
         email:{
           type: String
         },
         password:{
           type: String
         },
         isLogged:{
           type: Boolean,
           value: false
         },
         loginFailed:{
           type: Boolean,
           value: false
         }
       };
     }

     //Funcion manejadora de la respuesta de AJAX
     manageAJAXLoginResponse(data){

       console.log("Llegaron los resultados a manageAJAXLoginResponse");
       console.log(data.detail.response);

       //Pongo el booleano de logged a true para que se muestre el mensaje de loginOK en el span
       this.isLogged = true;

       //Marco el booleano de fallido a falso para no mostrar el mensaje de error en el logeo con el span
       this.loginFailed = false;

       console.log("Usuario logeado correctamente");

       //Una vez logeado correctamente, redirecciono la ventana a la ruta de dashboard/ que invoca al web-component "ip-dashboard-usuario"
       //Al user le paso como parametro el id del usuario, que lo tengo en la respuesta del login -> p.e. -> dashboard-usuario/33
       window.location.replace("/dashboard-usuario/" + data.detail.response.id)

     }

     //Funcion manejadora del login tras hacer click en el button
     login(){

       console.log("El usuario ha pulsado el boton de login");

       console.log("He recibido el email " + this.email);
       console.log("He recibido la password " + this.password);

       //Creamos el object con los datos que le vamos a pasar al login del back
       //Ojo los nombres de las variables tienen que ser los mismos que los de la API del back
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };

       //Le decimos que a la peticion "doLogin", su body es el loginData pasado a JSON
       this.$.doLogin.body = JSON.stringify(loginData);

       console.log("Voy a enviar la peticion")

       //Lanzamos la petición
       this.$.doLogin.generateRequest();

       console.log("Petición enviada")

     }

     //Funcion manejadora de los errores (on-error)
     showError(error){
       console.log("Hubo un error");
       console.log(error);

       //Marco el booleano de fallido a true para mostrar el mensaje de error con el span
       this.loginFailed = true;

       window.location = "/";

     }

   }

/* Con esto estoy definiendo el CustomElement "login-usuario" */
/* El primer parametro del define es el nombre del customElement -> LoginUsuario.is ==> login-usuario */
/* El segundo parametro del define es la clase que define ese customElement -> LoginUsuario */
   window.customElements.define(LoginUsuario.is, LoginUsuario);

 </script>

</dom-module>
