
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

  <!-- Importo la libreria iron-ajax para gestionar las peticiones ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Importo la libreria dom-repeat para mostrar de forma recursiva un template-->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimiento">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>

      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
      }

      th, td {
        padding: 7px;
      }

    </style>

      <table>
        <tr>
          <th>IBAN</th>
          <th>Importe</th>
          <th>Moneda</th>
          <th>Importe (EUR)</th>
          <th>Concepto</th>
          <th>Tipo</th>
          <th>Fecha</th>
        </tr>

    <template is="dom-repeat" items="{{movements}}">

          <tr>
            <td>{{item.iban}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.currency}}</td>
            <td>{{item.amountEUR}}</td>
            <td>{{item.concept}}</td>
            <td>{{item.type}}</td>
            <td>{{item.date}}</td>
          </tr>

      </table>

    </template>

    <!-- Utilizo iron-ajax para gestionar la peticion ajax "getMovement" a la API del back -->
    <iron-ajax auto
      id="getMovement"
      url="http://localhost:3000/apitechu/v2/movement/{{iban}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class VisorMovimiento extends Polymer.Element {

      static get is() { return 'visor-movimiento'; }

/* Esta es la clase properties para el dom-repeat, con el account de tipo Array */

      static get properties() {
        return {
          iban:{
            type: String
          },
          movements:{
            type: Array
          }
        };
      }

      //Funcion para mostrar los datos con dom-repeat
      showData(data){

        console.log("Showdata");
        console.log(data.detail.response);

        this.movements=data.detail.response;
      }

    }



 /* Con esto estoy definiendo el CustomElement "visor-movimiento" */
    window.customElements.define(VisorMovimiento.is, VisorMovimiento);

  </script>
</dom-module>
