
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-evento">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- Aqui esta el codigo HTML -->

      <!-- Informo mensaje con las propiedades recibidas en el evento  -->
      <h5>Soy el receptor</h5>
      <h6>Este curso es {{course}}</h6>
      <h6>y estamos en el año {{year}}</h6>

      <!-- Creamos un input para cambiar el valor del course -->
      <input type="text" value={{course::input}}></input>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class ReceptorEvento extends Polymer.Element {

      static get is() { return 'receptor-evento'; }

      //Las propiedades del evento hay que definirlas en el receptor
      static get properties() {
        return {
          course:{
            type:String,
            //defino un observador para la propiedad course
            observer:'_courseChanged'
          },
          year:{
            type:Number
          }
        };
      }

      //Funcion manejadora del observador
      _courseChanged(newValue,oldValue){

        console.log("Ha cambiado el valor de la propiedad course")
        console.log("Valor antiguo era " + oldValue)
        console.log("Valor nuevo es " + newValue)

      }

    }

 /* Con esto estoy definiendo el CustomElement "emisor-evento" */
    window.customElements.define(ReceptorEvento.is, ReceptorEvento);

  </script>

</dom-module>
