
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-evento">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- Aqui esta el codigo HTML -->

      <!-- Informo mensaje  -->
      <h5>Soy el emisor</h5>

      <!-- Boton para lanzar el evento  -->
      <button on-click="sendEvent">Lanzar Evento</button>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class EmisorEvento extends Polymer.Element {

      static get is() { return 'emisor-evento'; }

      static get properties() {
        return {
        };
      }

      //Creamos la funcion que envia el evento
      sendEvent(e){
        console.log("Emisor: Enviado evento");
        console.log(e);

        //Lanzamos el evento
        this.dispatchEvent(
            //Creando un CustomEvent
            new CustomEvent(
              //Primer parametro del CustomEvent es nombre del evento
              "mievento",
              //El segundo parametro del CustomEvent es el contenido del evento, siempre dentro de un "detail"
              {
                "detail":{
                  "course":"TechU",
                  "year":2018
                }
              }
            )//Cerramos el CustomEvent
        );//Cerramos el dispatchEvent
      }

    }

 /* Con esto estoy definiendo el CustomElement "emisor-evento" */
    window.customElements.define(EmisorEvento.is, EmisorEvento);

  </script>

</dom-module>
