
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

  <!-- Importo la libreria iron-ajax para gestionar las peticiones ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Dentro de style está el codigo CSS-->

      <style>

        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          text-align: center;
        }

        th, td {
          padding: 7px;
        }

      </style>

      <!-- Aqui esta el codigo HTML -->

    <!-- Hago la llamada a las propiedades definidas en la clase FrontproyectoApp -->
    <!-- DataBinding Oneway [[ -> hace que sustituya el valor de la propiedad dentro del codigo HTML -->

    <table>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
      </tr>
      <tr>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{email}}</td>
      </tr>
  </table>

    <!-- Utilizo iron-ajax para gestionar la peticion ajax "getUser" a la API del back -->
    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class VisorUsuario extends Polymer.Element {

      static get is() { return 'visor-usuario'; }

      static get properties() {
        return {
          id:{
            type: Number
          },
          first_name: {
            type: String
          },
          last_name:{
            type: String
          },
          email:{
            type: String
          }
        };
      }

      //Funcion para mostrar los datos
      showData(data){

        console.log("Showdata");

        console.log(data.detail.response.first_name);
        console.log(data.detail.response.last_name);
        console.log(data.detail.response.email);

       //Informo el valor de la propiedad (this.prop) con el valor de la respuesta del back (data.detail.response.prop)
        this.first_name=data.detail.response.first_name;
        this.last_name=data.detail.response.last_name;
        this.email=data.detail.response.email;
      }

    }

 /* Con esto estoy definiendo el CustomElement "visor-usuario" */
 /* El primer parametro del define es el nombre del customElement -> VisorUsuario.is ==> visor-usuario */
 /* El segundo parametro del define es la clase que define ese customElement -> VisorUsuario */
    window.customElements.define(VisorUsuario.is, VisorUsuario);

  </script>
</dom-module>
