
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

  <!-- Importo la libreria iron-ajax para gestionar las peticiones ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="creacion-usuario">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>


      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- Aqui esta el codigo HTML -->

      <h4> Introduzca los datos del nuevo usuario</h4>

      <!-- Creamos 4 inputs par introducir los datos del nuevo usuario -->
       <h10>Email </h10><input placeholder="email" type="email" value="{{email::input}}"></input>
       <br></br>
       <h10>Contraseña </h10><input placeholder="password" type="password" value="{{password::input}}"></input>
       <br></br>
       <h10>Nombre </h10><input placeholder="first_name" type="first_name" value="{{first_name::input}}"></input>
       <br></br>
       <h10>Apellidos </h10><input placeholder="last_name" type="last_name" value="{{last_name::input}}"></input>
       <br></br>

      <!-- Creamos el button de Crear Usuario con una funcion manejadora del createUser-->
      <button on-click="createUser">Crear Usuario</button>

      <!-- Creamos el span que es una especio de linea y solo la muestro si no está logeado-->
      <span hidden$="{{!createUserOK}}">Usuario Creardo Correctamente!</span>

      <!-- Creamos el span que es una especio de linea y solo la muestro si ha fallado el logeo-->
      <span hidden$="{{!createUserFailed}}">Este usuario ya existe, por favor elija la opciónde login</span>

        <!-- Utilizo iron-ajax para gestionar la peticion "createUser" ajax a la API del back -->
        <iron-ajax
          id="doCreateUser"
          url="http://localhost:3000/apitechu/v2/users/"
          handle-as="json"
          content-type="application/json"
          method="POST"
          on-response="manageAJAXCreateUserResponse"
          on-error="showError"
        >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class CreacionUsuario extends Polymer.Element {

      static get is() { return 'creacion-usuario'; }

      static get properties() {
        return {
          email:{
            type: String
          },
          password:{
            type: String
          },
          first_name: {
            type: String
          },
          last_name:{
            type: String
          },
          createUserOK:{
            type: Boolean,
            value: false
          },
          createUserFailed:{
            type: Boolean,
            value: false
          }
        };
      }

      //Funcion manejadora de la respuesta de AJAX
      manageAJAXCreateUserResponse(data){

        console.log("Llegaron los resultados a manageAJAXCreateUserResponse");
        console.log(data.detail.response);

        //Pongo el booleano de logged a true para que se muestre el mensaje de loginOK en el span
        this.createUserOK = true;

        //Marco el booleano de fallido a falso para no mostrar el mensaje de error en el logeo con el span
        this.createUserFailed = false;

        console.log("Usuario creado correctamente");

        //Redirijo la ventana al inicio
        window.location = '/dashboard-login/'

      }

      //Funcion manejadora del createUser tras hacer click en el button
      createUser(){

        console.log("El usuario ha pulsado el boton de Crear Usuario");

        console.log("He recibido el email " + this.email);
        console.log("He recibido la password " + this.password);
        console.log("He recibido el nombre " + this.first_name);
        console.log("He recibido el apellido " + this.last_name);

        //Creamos el object con los datos que le vamos a pasar al createUser del back
        //Ojo los nombres de las variables tienen que ser los mismos que los de la API del back
        var createUserData = {
          "email" : this.email,
          "password" : this.password,
          "first_name" : this.first_name,
          "last_name" : this.last_name
        };

        //Le decimos que a la peticion "doCreateUser", su body es el createUserData pasado a JSON
        this.$.doCreateUser.body = JSON.stringify(createUserData);

        console.log("Voy a enviar la peticion")

        //Lanzamos la petición
        this.$.doCreateUser.generateRequest();

        console.log("Petición enviada")

      }

      //Funcion manejadora de los errores (on-error)
      showError(error){
        console.log("Hubo un error");
        console.log(error);

        //Marco el booleano de fallido a true para mostrar el mensaje de error con el span
        this.createUserFailed = true;

        //Redirijo la ventana al inicio
        window.location = '/dashboard-login/'

      }
    }

 /* Con esto estoy definiendo el CustomElement "creacion-usuario" */
    window.customElements.define(CreacionUsuario.is, CreacionUsuario);

  </script>

</dom-module>
