
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- Importo la libreria iron-pages para seleccionar el contenido que se ve -->
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<!-- Hago un import de mi customElement "visor-usuario" -->
 <link rel="import" href="../../src/visor-usuario/visor-usuario.html">

<!-- Hago un import de mi customElement "visor-cuenta" -->
 <link rel="import" href="../../src/visor-cuenta/visor-cuenta.html">

 <!-- Hago un import de mi customElement "creacion-cuenta" -->
  <link rel="import" href="../../src/creacion-cuenta/creacion-cuenta.html">

<!-- Hago un import de mi customElement "logout-usuario" -->
 <link rel="import" href="../../src/logout-usuario/logout-usuario.html">

<dom-module id="ip-dashboard-usuario">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


      <!-- Aqui esta el codigo HTML -->

        <div class="offset-3">

      <h4> Elija una de las opciones disponibles del usuario</h4>
      <!--
      <h4> 1) Ver datos del usuario </h4>
      <h4> 2) Ver cuentas del usuario </h4>
      <h4> 3) Crear nueva cuenta </h4>
      <h4> 4) Logout usuario </h4>
      -->

      <!-- Hacemos el selector con iron-pages -->
      <select value="{{componentName::change}}" placeholder="Seleccionar opción">
        <option value=" ">Seleccionar opción</option>
        <option value="visor-usuario">Ver datos del usuario</option>
        <option value="visor-cuenta">Ver cuentas del usuario</option>
        <option value="creacion-cuenta">Crear nueva cuenta</option>
        <option value="logout-usuario">Logout usuario</option>
      </select>

      <br></br>

        <!-- Le decimos que web-component mostrar en funcion de cada valor(value) de cada option del selector -->
      <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
        <div component-name="visor-usuario"><visor-usuario id={{userid}}></visor-usuario></div>
        <div component-name="visor-cuenta"><visor-cuenta userid={{userid}}></visor-cuenta></div>
        <div component-name="creacion-cuenta"><creacion-cuenta userid={{userid}}></creacion-cuenta></div>
        <div component-name="logout-usuario"><logout-usuario id={{userid}}></logout-usuario></div>
      </iron-pages>

   </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class IPDashBoardUsuario extends Polymer.Element {

      static get is() { return 'ip-dashboard-usuario'; }

      static get properties() {
        return {
          componentName:{
            Type:String
          }
        };
      }

    }

 /* Con esto estoy definiendo el CustomElement "ip-dashboard-usuario" */
    window.customElements.define(IPDashBoardUsuario.is, IPDashBoardUsuario);

  </script>

</dom-module>
