
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="page-not-found">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- Aqui esta el codigo HTML -->

      <!-- Informo mensaje de pagina no encontrado -->
      <h2>Error en la URL. Pagina no encontrada</h2>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class PageNotFound extends Polymer.Element {

      static get is() { return 'page-not-found'; }

      static get properties() {
        return {
        };
      }

    }

 /* Con esto estoy definiendo el CustomElement "login-usuario" */
 /* El primer parametro del define es el nombre del customElement -> LoginUsuario.is ==> login-usuario */
 /* El segundo parametro del define es la clase que define ese customElement -> LoginUsuario */
    window.customElements.define(PageNotFound.is, PageNotFound);

  </script>

</dom-module>
