
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- Hago un import de mi customElement "emisor-evento" -->
<link rel="import" href="../emisor-evento/emisor-evento.html">

<!-- Hago un import de mi customElement "receptor-evento" -->
<link rel="import" href="../receptor-evento/receptor-evento.html">

<dom-module id="gestor-evento">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- Aqui esta el codigo HTML -->

      <!-- Informo mensaje  -->
      <h2>Soy el gestor</h2>

      <!-- Incluyo el emisor (dentro del gestor) -->
      <!-- on-mievento (mievento es el nombre del evento en el emisor) ejecuto la funcion manejadora processEvent-->
      <emisor-evento on-mievento="processEvent"></emisor-evento>

      <br></br>

      <!-- Incluyo el receptor (dentro del gestor) y le asigno una id -->
      <receptor-evento id="receiver"></receptor-evento>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class GestorEvento extends Polymer.Element {

      static get is() { return 'gestor-evento'; }

      static get properties() {
        return {
        };
      }

      //Funcion manejadora del evento
      processEvent(e){
        
        console.log("Gestor: Recibido evento del emisor");
        console.log(e.detail);

        //Accedemos al receptor, que tiene id=receiver y le asignamos el valor que viene en el evento (e.detail)
        this.$.receiver.course = e.detail.course;
        this.$.receiver.year = e.detail.year;

      }

    }

 /* Con esto estoy definiendo el CustomElement "emisor-evento" */
    window.customElements.define(GestorEvento.is, GestorEvento);

  </script>

</dom-module>
