
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

  <!-- Importo la libreria iron-ajax para gestionar las peticiones ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- Aqui esta el codigo HTML -->

  <!-- Creamos el button de logout con una funcion manejadora del logout-->
  <button on-click="logout">Confirmar Logout</button>

  <!-- Creamos el span que es una especio de linea y solo la muestro si se ha deslogeado OK-->
  <span hidden$="{{!logoutOK}}">Deslogeado correctamente!</span>

  <!-- Creamos el span que es una especio de linea y solo la muestro si ha fallado el logout-->
  <span hidden$="{{!logoutFailed}}">Logout Fallido</span>

    <!-- Utilizo iron-ajax para gestionar la peticion "logout" ajax a la API del back -->
    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logout/{{id}}"
      handle-as="json"
      method="DELETE"
      on-response="manageAJAXLogoutResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class LogoutUsuario extends Polymer.Element {

      static get is() { return 'logout-usuario'; }

      static get properties() {
        return {
          logoutOK:{
            type: Boolean,
            value: false
          },
          logoutFailed:{
            type: Boolean,
            value: false
          }
        };
      }

      //Funcion manejadora de la respuesta de AJAX
      manageAJAXLogoutResponse(data){

        console.log("Llegaron los resultados a manageAJAXLogoutResponse");
        console.log(data.detail.response);

        //Pongo el booleano de logoutOK a true para que se muestre el mensaje de logoutOK en el span
        this.logoutOK = true;

        //Marco el booleano de fallido a falso para no mostrar el mensaje de error en el logout con el span
        this.logoutFailed = false;

        console.log("Usuario deslogeado correctamente");

        //Una vez deslogeado correctamente, redirecciono la ventana a la ruta inicial (/) que invoca al web-component "my-bankapp"
        window.location = "/";

      }

      //Funcion manejadora del logout tras hacer click en el button
      logout(){

        console.log("El usuario ha pulsado el boton de logout");

        console.log("Voy a enviar la peticion")

        //Lanzamos la petición
        this.$.doLogout.generateRequest();

        console.log("Petición enviada")

      }

      //Funcion manejadora de los errores (on-error)
      showError(error){
        console.log("Hubo un error");
        console.log(error);

        //Marco el booleano de fallido a true para mostrar el mensaje de error con el span
        this.logoutFailed = true;

        //Una vez deslogeado correctamente, redirecciono la ventana a la ruta inicial (/) que invoca al web-component "my-bankapp"
        window.location = "/";

      }

    }

 /* Con esto estoy definiendo el CustomElement "logout-usuario" */
    window.customElements.define(LogoutUsuario.is, LogoutUsuario);

  </script>

</dom-module>
