
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

  <!-- Importo la libreria iron-ajax para gestionar las peticiones ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Hago un import de mi customElement "ip-login-createuser" -->
<link rel="import" href="../../src/ip-login-createuser/ip-login-createuser.html">

<!-- Hago un import de mi customElement "ip-dashboard-usuario" -->
<link rel="import" href="../../src/ip-dashboard-usuario/ip-dashboard-usuario.html">

<dom-module id="my-bankapp">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


      <!-- Aqui esta el codigo HTML -->

  <!-- Creamos el button de iniciarApp-->

  <!--
        <button hidden$="{{isClicked}}" on-click="iniciarApp">Comenzar</button>
  -->

  <script>

  var redirectFrom = "http://127.0.0.1:8081/"

  if (window.location.href == redirectFrom) {
      window.location = "/dashboard-login/"
  }
</script>





  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class MyBankApp extends Polymer.Element {

      static get is() { return 'my-bankapp'; }

      static get properties() {
        return {
          isClicked:{
            type: Boolean,
            value: false
          }
        };
      }

      iniciarApp(){
        this.isClicked = true;
        window.location = "/dashboard-login/";
      }

    }

 /* Con esto estoy definiendo el CustomElement "login-usuario" */
    window.customElements.define(MyBankApp.is, MyBankApp);

  </script>

</dom-module>
