
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

  <!-- Importo la libreria iron-ajax para gestionar las peticiones ajax-->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="creacion-movimiento">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>


      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <!-- Aqui esta el codigo HTML -->

      <h4> Introduzca los datos necesarios para crear el nuevo movimiento</h4>

      <!-- Creamos inputs par introducir los datos del nuevo movimiento -->
       <h10>Importe </h10><input placeholder="amount" type="amount" value="{{amount::input}}"></input>
       <br></br>
       <h10>Divisa </h10><input placeholder="currency" type="currency" value="{{currency::input}}"></input>
       <br></br>
       <h10>Concepto </h10><input placeholder="concept" type="concept" value="{{concept::input}}"></input>
       <br></br>

      <!-- Creamos el button de Crear Movimiento con una funcion manejadora del createMovement-->
      <button on-click="createMovement">Crear Movimiento</button>

      <!-- Creamos el span que es una especio de linea-->
      <span hidden$="{{!createMovementOK}}">Movimiento creado Correctamente!</span>

      <!-- Creamos el span que es una especio de linea-->
      <span hidden$="{{!createMovementFailed}}">Error al crear movimiento, por favor revise los datos</span>

        <!-- Utilizo iron-ajax para gestionar la peticion "createMovement" ajax a la API del back -->
        <iron-ajax
          id="doCreateMovement"
          url="http://localhost:3000/apitechu/v2/movement/{{iban}}"
          handle-as="json"
          content-type="application/json"
          method="POST"
          on-response="manageAJAXCreateMovementResponse"
          on-error="showError"
        >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class CreacionMovimiento extends Polymer.Element {

      static get is() { return 'creacion-movimiento'; }

      static get properties() {
        return {
          amount:{
            type: Number
          },
          amountEUR:{
            type: Number
          },
          currency:{
            type: Number
          },
          concept:{
            type: Number
          },
          iban:{
            type: String
          },
          type:{
            type: String
          }
          ,
          createMovementOK:{
            type: Boolean,
            value: false
          },
          createMovementFailed:{
            type: Boolean,
            value: false
          }
        };
      }

      //Funcion manejadora de la respuesta de AJAX
      manageAJAXCreateMovementResponse(data){

        console.log("Llegaron los resultados a manageAJAXCreateMovementResponse");
        console.log(data.detail.response);

        //Pongo el booleano de logged a true para que se muestre el mensaje de OK en el span
        this.createMovementOK = true;

        //Marco el booleano de fallido a falso para no mostrar el mensaje de error con el span
        this.createMovementFailed = false;

        console.log("Movimiento creado correctamente");
        var iban = this.iban;

        //Metemos un sleep de 10 segundos para garantizar la respuesta de la API
        setTimeout(function(){

          //Una vez creada la cuenta correctamente, redirecciono la ventana a la ruta de /dashboard-usuario/ que invoca al web-component "ip-dashboard-usuario"
          //Redigiro al dashboard-usuario para que recargue el status de todas las cuentas
          window.location=document.referrer;


        }, 2000);

        //Una vez creada la cuenta correctamente, redirecciono la ventana a la ruta de /dashboard-usuario/ que invoca al web-component "ip-dashboard-usuario"


      }

      //Funcion manejadora del createAccount tras hacer click en el button
      createMovement(){

        console.log("El usuario ha pulsado el boton de Crear Movimiento");

        console.log("He recibido el IBAN " + this.iban);
        console.log("He recibido el importe " + this.amount);
        console.log("He recibido la divisa " + this.currency);
        console.log("He recibido el concepto " + this.concept);

        //Creamos el object con los datos que le vamos a pasar al createAcccount del back
        //Ojo los nombres de las variables tienen que ser los mismos que los de la API del back
        var createMovementData = {
          "iban" : this.iban,
          "amount" : this.amount,
          "currency" : this.currency,
          "concept" : this.concept
        };

        //Le decimos que a la peticion "doCreateAccount", su body es el createAccountData pasado a JSON
        this.$.doCreateMovement.body = JSON.stringify(createMovementData);

        console.log("Voy a enviar la peticion")

        //Lanzamos la petición
        this.$.doCreateMovement.generateRequest();

        console.log("Petición enviada");

      }

      //Funcion manejadora de los errores (on-error)
      showError(error){
        console.log("Hubo un error");
        console.log(error);

        //Marco el booleano de fallido a true para mostrar el mensaje de error con el span
        this.createMovementFailed = true;

      }
    }

 /* Con esto estoy definiendo el CustomElement "creacion-movimiento" */
    window.customElements.define(CreacionMovimiento.is, CreacionMovimiento);

  </script>

</dom-module>
