
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- Importo la libreria iron-pages para seleccionar el contenido que se ve -->
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<!-- Hago un import de mi customElement "login-usuario" -->
  <link rel="import" href="../../src/login-usuario/login-usuario.html">

<!-- Hago un import de mi customElement "creacion-usuario" -->
  <link rel="import" href="../../src/creacion-usuario/creacion-usuario.html">

<dom-module id="ip-login-createuser">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


      <!-- Aqui esta el codigo HTML -->

    <div class="offset-3">

      <h4> Ingrese sus datos de usuario o regístrese en su nuevo banco</h4>

      <!--
      <h4> 1) Login a su cuenta usuario </h4>
      <h4> 2) En caso de no ser cliente, creacion de nuevo usuario </h4>
      -->

      <!-- Hacemos el selector con iron-pages -->
      <select value="{{componentName::change}}" placeholder="Seleccionar opción">
        <option value=" ">Seleccionar opción</option>
        <option value="login-usuario">Login Usuario</option>
        <option value="creacion-usuario">Creación Usuario</option>
      </select>

      <br></br>

        <!-- Le decimos que web-component mostrar en funcion de cada valor(value) de cada option del selector -->
      <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
        <div component-name="login-usuario"><login-usuario></login-usuario></div>
        <div component-name="creacion-usuario"><creacion-usuario></creacion-usuario></div>
      </iron-pages>

   </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class IPLoginCreateUser extends Polymer.Element {

      static get is() { return 'ip-login-createuser'; }

      static get properties() {
        return {
          componentName:{
            Type:String
          }
        };
      }

    }

 /* Con esto estoy definiendo el CustomElement "ip-login-createuser" */
    window.customElements.define(IPLoginCreateUser.is, IPLoginCreateUser);

  </script>

</dom-module>
