
  <!-- Hago un import de polymer-element, que es la base de todos los elementos polymer-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- Importo la libreria iron-pages para seleccionar el contenido que se ve -->
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<!-- Hago un import de mi customElement "visor-movimiento" -->
 <link rel="import" href="../../src/visor-movimiento/visor-movimiento.html">

 <!-- Hago un import de mi customElement "visor-movimiento" -->
  <link rel="import" href="../../src/creacion-movimiento/creacion-movimiento.html">

  <!-- Hago un import de mi customElement "ip-dashboard-usuario" -->
  <link rel="import" href="../../src/ip-dashboard-usuario/ip-dashboard-usuario.html">

<dom-module id="ip-dashboard-cuenta">

    <!-- Dentro del template está lo que se ve, HTML + CSS-->
  <template>

      <!-- Hago el import de Bootstrap para gestionar el style -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


      <!-- Aqui esta el codigo HTML -->

      <div class="offset-3">

      <h4> Elija una de las opciones disponibles de su cuenta</h4>
      <!--
      <h4> 1) Ver movimientos de la cuenta </h4>
      <h4> 2) Crear nuevo movimiento </h4>
      -->

      <!-- Hacemos el selector con iron-pages -->
      <select value="{{componentName::change}}" placeholder="Seleccionar opción">
        <option value=" ">Seleccionar opción</option>
        <option value="visor-movimiento">Ver movimientos de la cuenta</option>
        <option value="creacion-movimiento">Crear nuevo movimiento</option>
      </select>

      <!-- Creamos el button de volver -->
      <button on-click="volver">Volver</button>

      <br></br>

        <!-- Le decimos que web-component mostrar en funcion de cada valor(value) de cada option del selector -->
      <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
        <div component-name="visor-movimiento"><visor-movimiento iban={{iban}}></visor-movimiento></div>
        <div component-name="creacion-movimiento"><creacion-movimiento iban={{iban}}></creacion-movimiento></div>
      </iron-pages>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

 /* Declaro la clase con 2 metodos */
 /* El metodo get is me dice el nombre del customElement */
 /* El metodo get properties me devuelve las propiedades del customElement */
    class IPDashBoardCuenta extends Polymer.Element {

      static get is() { return 'ip-dashboard-cuenta'; }

      static get properties() {
        return {
          componentName:{
            Type:String
          }
        };
      }

      volver(e){
          window.history.back();
      }

    }

 /* Con esto estoy definiendo el CustomElement "ip-dashboard-cuenta" */
    window.customElements.define(IPDashBoardCuenta.is, IPDashBoardCuenta);

  </script>

</dom-module>
